<div class="sidebar-layout">
	<aside class="app-sidebar">
		<nav class="sidebar-nav">
			<a
				routerLink="/about"
				routerLinkActive="active-link"
				class="nav-item"
			>
				<i class="fas fa-info-circle"></i>
				Sobre o Projeto
			</a>
			<a
				routerLink="/dashboard"
				routerLinkActive="active-link"
				class="nav-item"
			>
				<i class="fas fa-chart-pie"></i>
				Dashboard Principal
			</a>
			<a
				routerLink="/relation"
				routerLinkActive="active-link"
				class="nav-item"
			>
				<i class="fas fa-chart-pie"></i>
				Dashboard Relacional
			</a>

			<a
				routerLink="/data"
				routerLinkActive="active-link"
				class="nav-item"
			>
				<i class="fas fa-database"></i>
				Dicionário de Dados
			</a>
		</nav>
	</aside>
</div>
