<div class="sidebar-layout">
	<aside class="app-sidebar">
		<nav class="sidebar-nav">
			<a
				routerLink="/"
				routerLinkActive="active-link"
				class="nav-item"
			>
				<i class="fas fa-chart-pie"></i>
				Dashboard Principal
			</a>
			<a
				routerLink="/"
				routerLinkActive="active-link"
				class="nav-item"
			>
				<i class="fas fa-database"></i>
				Dados Brutos
			</a>
			<a
				routerLink="/"
				routerLinkActive="active-link"
				class="nav-item"
			>
				<i class="fas fa-info-circle"></i>
				Sobre o Projeto
			</a>
		</nav>
	</aside>
</div>